<div
  class="card mx-auto text-center border-light mt-3"
  style="
    width: 18rem;
    background-color: pink;
    border: 2px solid black !important;
  "
>
  <img src="assets/gatinhos.jpg" class="card-img-top p-2" alt="Gatos" />
  <div class="card-body">
    <h2 class="card-title">Gatinhos fofos</h2>
    <h3 class="card-text">Muito fofos</h3>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
  </div>
</div>
