<div class="artigos">
  <mat-card class="card">
    <img mat-card-image src="../../assets/kittycat1.jpg" />
    <mat-card-content>
      <mat-card-title>Lorem</mat-card-title>
      <mat-card-subtitle
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem,
        saepe corrupti harum sed fugit blanditiis labore esse debitis officiis
        facere soluta exercitationem commodi reiciendis asperiores nesciunt quia
        aliquid omnis?</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../../assets/kittycat2.jpg" />
    <mat-card-content>
      <mat-card-title>Lorem</mat-card-title>
      <mat-card-subtitle
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem,
        saepe corrupti harum sed fugit blanditiis labore esse debitis officiis
        facere soluta exercitationem commodi reiciendis asperiores nesciunt quia
        aliquid omnis?</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../../assets/kittycat3.jpg" />
    <mat-card-content>
      <mat-card-title>Lorem</mat-card-title>
      <mat-card-subtitle
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem,
        saepe corrupti harum sed fugit blanditiis labore esse debitis officiis
        facere soluta exercitationem commodi reiciendis asperiores nesciunt quia
        aliquid omnis?</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</div>
