<div class="header">
  <h1>Um gatinho para alegrar seu dia!</h1>
  <button mat-button>
    <span class="material-icons"> refresh </span>
  </button>
</div>
<div class="body">
  <mat-card class="card">
    <img mat-card-image src="../../assets/gatinhos2.jpeg" />
    <mat-card-content>
      <mat-card-title>Lorem</mat-card-title>
      <mat-card-subtitle
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem,
        saepe corrupti harum sed fugit blanditiis labore esse debitis officiis
        facere soluta exercitationem commodi reiciendis asperiores nesciunt quia
        aliquid omnis?</mat-card-subtitle
      >
    </mat-card-content>
  </mat-card>
</div>
